@import '~css/imports';

#app, html, body {
    height: 100%;
}

html {
    background: $color-blue-gray-01;
}

a, li {
    transition: color .2s ease;
}

.burger-icon {
    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        background: linear-gradient(
                        to bottom,
                        white, white 18%,
                        rgba(0, 0, 0, 0) 17%, rgba(0, 0, 0, 0) 40%,
                        white 40%, white 58%,
                        rgba(0, 0, 0, 0) 58%, rgba(0, 0, 0, 0) 80%,
                        white 82%, white 100%
        );
    }
}
